{% extends 'main.html' %}

{% block tittle %}Comentarios{% endblock %}
{% block navItemComments %}active{% endblock %}
{# Main Arguments #}
{% block mainArgs %}id="main-comments" class="container"{% endblock %}
{% block main %}
<section class="container p-3 d-flex justify-content-evenly flex-column">
    <h2 class="fade-in">Comentarios</h2>
    <h4 class="fade-in">¿Tienes algún comentario sobre el blog?</h4>
    <form class="p-xl-5 m-4 m-xl-0 tilt-in-top-1" method="POST" action="/">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Título</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Este será el título del comentario" name="tittle">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Autor</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Autor del comentario" name="user_name">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
        </div>
        <button class="btn btn-outline-dark" type="submit">Enviar</button>
    </form>
    <h6 class="fade-in">La información ingresada no será compartida con ninguna entidad de terceros.</h6>
</section>
{% endblock %}