{% extends 'main.html' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-user"></i></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="{% if request.path == '/login/' or request.path == '/register/' %}d-none{% else %}collapse navbar-collapse{% endif %}" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% block navItemComments %}{% endblock %}" href="/post_comment"><i class="fa-regular fa-square-plus"></i> POSTEAR</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% block navItemLogin %}{% endblock %}" href="/login">
                            <i class="fa-regular fa-rectangle-xmark"></i> {% if request.user.is_authenticated %}Cerrar Sesión{% else %}Iniciar Sesión{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block navItemProjects %}{% endblock %}" href="/posts" style="font-weight: bold;"> DBB</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

